<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.backend.dao.mapper.sequence.SequenceDao">
    <resultMap id="resultMap" type="com.seckill.backend.dao.entity.Sequence">
        <id column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAllSequence" resultMap="resultMap">
        select * from sequence
    </select>

    <update id="updateSequence" parameterType="Sequence">
        update sequence set sequence_id=#{sequenceId} where table_name=#{tableName}
    </update>

</mapper>